/* body {
  background-color: rgb(241, 159, 159); 

div {
  width: 300px;
  position: fixed;
  top: 0;
  border-radius: 10px ;
  background-color: darkblue;
  color: white; margin-top: 50px; margin-left: 3rem;
}  */
