body {
  background-color: hsl(0, 0%, 8%);
}
div {
  background-color: hsl(0, 0%, 12%);
  width: 30%;
  margin: auto;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 200px;
  margin-top: 200px;
}
img {
  position: static;
  margin-left: 25%;
  border-radius: 90px;
  margin-top: 10px;
}
h1 {
  color: rgb(255, 255, 255);
  text-align: center;
}
h3 {
  color: greenyellow;
  text-align: center;
}
p {
  color: rgb(255, 255, 255);
  text-align: center;
}
h5 {
  background-color: rgb(51, 51, 51);
  color: rgb(255, 255, 255);
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;

  font-size: 2rem;
}
h5:hover {
  background-color: rgb(255, 230, 2);
}
