.jessica {
  background-color: aqua;
  color: black;
}
.chi {
  background-color: black;
  color: white;
}
.victory {
  background-color: darkgoldenrod;
  color: turquoise;
}
.class {
  background-color: darkslategrey;
  color: whitesmoke;
}
.spon {
  background-color: darkorchid;
  color: white;
}
.really {
  background-color: darkred;
  color: white;
}
.OMG {
  background-color: darkblue;
  color: white;
}
